<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    include inc/base
  body
    include inc/header

    - if (messages.info)
        section.modalProfile
          #modal1.modal
            .modal-content
              h4 Perfil
              p= messages.info

            .modal-footer
              a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Cerrar

    
    if user.photo.length == 0
      section.modalProfile
        #modal1.modal
          .modal-content
            h4 Editar Información
            p Porfavor se le pide cargar la siguiente información
          .modal-content.container
            div.row
              form.formUpdateProfile.col.l12(action="/save/teacher/updatefinish", method="post", enctype="multipart/form-data")
                input(type="hidden", name="id", value="#{user._id}")
                
                .file-field.input-field.fieldset
                    .btn
                      span Foto
                      input(type='file', name="file", required)
                    .file-path-wrapper
                      input.file-path.validate(type='text')

                fieldset.fieldset
                  input.datepicker(type="text", name="fecha", placeholder="Ingrese su fecha de nacimiento", required)
                fieldset.fieldset
                  select.browser-default(name="genero")
                    option(value="0") Seleccione su genero
                    option(value="Hombre") Hombre
                    option(value="Mujer") Mujer
                fieldset.fieldset
                  input.btn(type="submit", value="Cargar Informacion")



          //.modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Agree
    
    if user.email.length == 0 || user.genero.length == 0
       
         section.modalProfile
          #modal1.modal
            .modal-content
               h4 Editar Información
               if (messages.info)
                  p.errorTxt= messages.info
               else
                  p Porfavor se le pide cargar la siguiente información
            .modal-content.container
              div.row
                if user.email.length > 4
                  form.formUpdateProfile.col.l12(action="/save/teacher/updatetwitter", method="post")
                    input(type="hidden", name="id", value="#{user._id}")
                    input(type="hidden", name="type", value="facebook")

                    fieldset.fieldset
                      input.datepicker(type="text", name="fecha", placeholder="Ingrese su fecha de nacimiento", required)
                    fieldset.fieldset
                        select.browser-default(name="genero")
                          option(value="0") Seleccione su genero
                          option(value="Hombre") Hombre
                          option(value="Mujer") Mujer
                    fieldset.fieldset
                      input.btn(type="submit", value="Cargar Informacion")
                else
                  form.formUpdateProfile.col.l12(action="/save/teacher/updatetwitter", method="post")
                    input(type="hidden", name="id", value="#{user._id}")
                    input(type="hidden", name="type", value="twitter")
                    fieldset.fieldset
                        input(type="email", name="email", placeholder="Ingrese email")
                    fieldset.fieldset
                      input.datepicker(type="text", name="fecha", placeholder="Ingrese su fecha de nacimiento", required)
                    fieldset.fieldset
                        select.browser-default(name="genero")
                          option(value="0") Seleccione su genero
                          option(value="Hombre") Hombre
                          option(value="Mujer") Mujer
                    fieldset.fieldset
                      input.btn(type="submit", value="Cargar Informacion")

    main.main
      section.profileUser
        div.profileUser__Contain
          div.container
            div.row
              figure.profileUser__Figure.col.l3.col.m4.col.s12
                div.profileUser__Figure--Contain
                  img.jsHoverImgProfile(src="#{user.photo}", alt="")
                  
              aside.profileUser__Aside.col.l9.col.m8.col.s12
                header.profileUser__Aside--Header.col.l12.col.s12
                  h2.title
                    | Cambiar mi contraseña
                form.profileUser__Form.profileUser__FormReset.col.l12.col.s12(action="/save/teacher/resetpasswordsave", method="post")
                  input(type="hidden", name="id", value="#{user._id}")
                  fieldset.profileUser__Form--Fieldset.col.l6.col.s12
                    label(for="")
                      | Nueva contraseña
                    input(type="password", name="password", placeholder="ingrese su contraseña", minlength="4", required)
                  fieldset.profileUser__Form--Fieldset.col.l6.col.s12
                    label(for="")
                      | Confirme contraseña
                    input(type="password", name="confirmpassword", placeholder="confirme su contraseña", minlength="4", required)
                  fieldset.profileUser__Form--Fieldset.col.l12.col.s12.tCenter
                    input.btn(type="submit", value="Actualizar")


        div.profileUser__Details
          div.container
            div.row
              section.profesoresVisited.col.l4.col.m5.col.s12
                header.profesoresVisited__Header
                  h3.title
                    | Profesores Visitados
                div.profesoresVisited__Container
                  if profile[0].visitas
                    each v in profile[0].visitas
                      if v.imgTeacher
                        article.profesoresVisited__Articls
                          - var name = v.nameTeacher
                          - var nameOne = name.split(' ')
                          a(href="/teacher/#{v.idTeacher}#profile?name=#{nameOne[0]}#ref")
                            figure.figure
                              img(src="#{v.imgTeacher}", alt="#{v.nameTeacher}")
                            header.description
                              h4.name
                                | #{nameOne[0]}
                  

              div.col.l4.col.m2
              aside.profesoresComment.col.l4.col.m5.col.s8
                header.profesoresComment__Header
                  h3.title
                    | Materias del mes
                div.profesoresComment__Container
                   article.materia
                    figure.materia__Figure
                    header.materia__Header
                      div.materia__Details
                        span.details
                          | Te sugerimos visitar
                      h5.title
                        | Materias Aleatorio
                    div.materia__Continue
                      a.link(href="/search/find?aleatorio=subjects&page=0")
                        | Visitar
                 

    include inc/footer