<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    include inc/base
  body.searchBG
    include inc/header

    main.main
      section.teacher__Register.container
        div.row
          section.teacher__Register--Container.card.col.l12.col.m12.col.s12
            header.teacher__Register--Header.col.l12.col.m12.col.s12
              h2.title
                if user.statusteacher
                  h2.title
                    | Editar perfil de profesor
                else
                  h2.title
                    | Bienvenido al registro de Profesor
            section.teacher__Register--Steps--Menu.col.l12.col.m12.col.s12
              ul.ul
                li.list.col.l3.col.m3.col.s3(onclick=" window.location.href = '/teacher/register/stepone';")
                  div.list__Icon
                    i.fa.fa-id-card.activeItem
                  div.list__Name
                    span.name.activeItem
                      | Datos Personales
                li.list.col.l3.col.m3.col.s3(onclick="window.location.href = '/teacher/register/steptwo'; ")
                  div.list__Icon
                    i.fa.fa-book.activeItem
                  div.list__Name
                    span.name.activeItem
                      | Materias
                li.list.col.l3.col.m3.col.s3(onclick="window.location.href = '/teacher/register/steptree';")
                  div.list__Icon.activeItem
                    i.fa.fa-user-circle-o.activeItem
                  div.list__Name
                    span.name.activeItem
                      | Tus Clases
                li.list.col.l3.col.m3.col.s3(onclick="window.location.href = '/teacher/register/stepfour';")
                  div.list__Icon
                    i.fa.fa-comment.activeItem
                  div.list__Name
                    span.name.activeItem
                      | Contacto
             if user.statusteacher
               section.teacher__Register--Steps--Container.col.l12.col.m12.col.s12
                  article.teacher__Register__Steps--Four.col.l8.col.m12.col.s12
                    form.form__Four(action="/save/teacher/update4", method="post").col.l12.col.m12.col.s12
                      if user.teacher && user.materias
                        article.preview.card.col.l12.col.m8.col.s12
                          figure.preview__Figure.col.l3.col.s4
                            img(src="#{user.photo}", alt="", width="100%")
                          div.preview__Description.col.l9.col.s8
                            header.preview__Description--Header.col.l12.col.s12
                              h4.title
                                | #{user.name}
                            div.preview__Description--Options.col.l12.col.s12
                              ul.ul.col.l5.col.s12
                                li.list.col.l3.col.s3
                                  if user.materias[0].status == 'No recibido'
                                    i.fa.fa-graduation-cap.noRecibido
                                  if user.materias[0].status == 'Cursando'
                                    i.fa.fa-graduation-cap.siRecibido
                                  if user.materias[0].status == 'Recibido'
                                    i.fa.fa-graduation-cap.isRecibido
                                
                                if user.opciones
                                  if user.opciones[0].tipoclases
                                    if user.opciones[0].tipoclases.length == 1
                                      if user.opciones[0].tipoclases == 'grupales'
                                        li.list.col.l3.col.s3
                                          i.fa.fa-users.isVerde
                                        li.list.col.l3.col.s3
                                          i.fa.fa-user.isVerde
                                      else
                                         li.list.col.l3.col.s3
                                          i.fa.fa-users.isVerde
                                        li.list.col.l3.col.s3
                                          i.fa.fa-user.isVerde

                                    else if user.opciones[0].tipoclases.length == 2
                                        li.list.col.l3.col.s3
                                          i.fa.fa-users.isVerde
                                        li.list.col.l3.col.s3
                                          i.fa.fa-user.isVerde

                                    else
                                      li.list.col.l3.col.s3
                                          i.fa.fa-users
                                      li.list.col.l3.col.s3
                                          i.fa.fa-user
                                
                                  li.list.col.l3.col.s3
                                    if user.opciones[0].domicilio == 'true'
                                       i.fa.fa-car.siDomicilio
                                    else
                                      i.fa.fa-car
                                        
                                else
                                  li.list.col.l3.col.s3
                                          i.fa.fa-users
                                  li.list.col.l3.col.s3
                                          i.fa.fa-user

                                
                              ul.col.l2.col.s12
                              if user.opciones[0].horarios
                                  if user.opciones[0].horarios.length
                                    
                                    if user.opciones[0].horarios.length == 1

                                      if user.opciones[0].horarios[0].name == 'mañana'
                                        ul.ul.col.l5.col.s12
                                            li.list.col.l4.col.s3
                                                i.fa.fa-sun-o.siManana
                                            li.list.col.l4.col.s3
                                                i.fa.fa-circle-o-notch
                                            li.list.col.l4.col.s3
                                                i.fa.fa-moon-o

                                      else if user.opciones[0].horarios[0].name == 'tarde'
                                         ul.ul.col.l5.col.s12
                                            li.list.col.l4.col.s3
                                                i.fa.fa-sun-o
                                            li.list.col.l4.col.s3
                                                i.fa.fa-circle-o-notch.siTarde
                                            li.list.col.l4.col.s3
                                                i.fa.fa-moon-o

                                      else
                                        ul.ul.col.l5.col.s12
                                            li.list.col.l4.col.s3
                                                i.fa.fa-sun-o
                                            li.list.col.l4.col.s3
                                                i.fa.fa-circle-o-notch
                                            li.list.col.l4.col.s3
                                                i.fa.fa-moon-o.siNoche

                                    else if user.opciones[0].horarios.length == 2

                                          if user.opciones[0].horarios[0].name == 'mañana' && user.opciones[0].horarios[1].name == 'tarde' || user.opciones[0].horarios[0].name == 'tarde' && user.opciones[0].horarios[1].name == 'mañana'

                                              ul.ul.col.l5.col.s12
                                                li.list.col.l4.col.s3
                                                    i.fa.fa-sun-o.siManana
                                                li.list.col.l4.col.s3
                                                    i.fa.fa-circle-o-notch.siTarde
                                                li.list.col.l4.col.s3
                                                    i.fa.fa-moon-o

                                          else if user.opciones[0].horarios[0].name == 'mañana' && user.opciones[0].horarios[1].name == 'noche' || user.opciones[0].horarios[0].name == 'noche' && user.opciones[0].horarios[1].name == 'mañana'

                                              ul.ul.col.l5.col.s12
                                                  li.list.col.l4.col.s3
                                                      i.fa.fa-sun-o.siManana
                                                  li.list.col.l4.col.s3
                                                      i.fa.fa-circle-o-notch
                                                  li.list.col.l4.col.s3
                                                      i.fa.fa-moon-o.siNoche

                                          else if user.opciones[0].horarios[0].name == 'tarde' && user.opciones[0].horarios[1].name == 'noche' || user.opciones[0].horarios[0].name == 'noche' && user.opciones[0].horarios[1].name == 'tarde'

                                              ul.ul.col.l5.col.s12
                                                  li.list.col.l4.col.s3
                                                      i.fa.fa-sun-o
                                                  li.list.col.l4.col.s3
                                                      i.fa.fa-circle-o-notch.siTarde
                                                  li.list.col.l4.col.s3
                                                      i.fa.fa-moon-o.siNoche
                                    
                                    else if user.opciones[0].horarios.length == 3

                                          ul.ul.col.l5.col.s12
                                                li.list.col.l4.col.s3
                                                    i.fa.fa-sun-o.siManana
                                                li.list.col.l4.col.s3
                                                    i.fa.fa-circle-o-notch.siTarde
                                                li.list.col.l4.col.s3
                                                    i.fa.fa-moon-o.siNoche

                                    else
                                       ul.ul.col.l5.col.s12
                                                li.list.col.l4.col.s3
                                                    i.fa.fa-sun-o
                                                li.list.col.l4.col.s3
                                                    i.fa.fa-circle-o-notch
                                                li.list.col.l4.col.s3
                                                    i.fa.fa-moon-o






                                  else

                                    ul.ul.col.l5.col.s12
                                        li.list.col.l4.col.s3
                                            i.fa.fa-sun-o
                                        li.list.col.l4.col.s3
                                            i.fa.fa-circle-o-notch
                                        li.list.col.l4.col.s3
                                            i.fa.fa-moon-o


                              else
                                  ul.ul.col.l5.col.s12
                                        li.list.col.l4.col.s3
                                            i.fa.fa-sun-o
                                        li.list.col.l4.col.s3
                                            i.fa.fa-circle-o-notch
                                        li.list.col.l4.col.s3
                                            i.fa.fa-moon-o

                                
                      else
                        //
                      fieldset.fieldset__Header.col.l12.col.m12.col.s12
                        label
                          | ¿Cuál es el número de teléfono al que querés ser contactado?
                      fieldset.fieldset.col.l12.col.m12.col.s12
                        input(type="number", placeholder="#{user.contacto[0].telefono}", value="#{user.contacto[0].telefono}", name="isphone", required)
                      
                      if user.contacto[0].mensajealumnos == 'true'
                        fieldset.fieldset__Header.col.l12.col.m12.col.s12
                          label
                            | ¿Recibís mensajes de texto de tus alumnos?
                        fieldset.fieldset.col.l4.col.m6.col.s6
                          input(type="radio", checked, id="mensajeSi", name="istxtmsn", value="true")
                          label(for="mensajeSi")
                            | Si
                        fieldset.fieldset.col.l4.col.m6.col.s6
                          input(type="radio", id="mensajeNo", name="istxtmsn", value="false")
                          label(for="mensajeNo")
                            | No

                      else

                          fieldset.fieldset__Header.col.l12.col.m12.col.s12
                            label
                              | ¿Recibís mensajes de texto de tus alumnos?
                          fieldset.fieldset.col.l4.col.m6.col.s6
                            input(type="radio", id="mensajeSi", name="istxtmsn", value="true")
                            label(for="mensajeSi")
                              | Si
                          fieldset.fieldset.col.l4.col.m6.col.s6
                            input(type="radio", checked, id="mensajeNo", name="istxtmsn", value="false")
                            label(for="mensajeNo")
                              | No

                      if user.contacto[0].mensajewtp == 'true'

                        fieldset.fieldset__Header.col.l12.col.m12.col.s12
                          label
                            | ¿Recibís mensajes de Whatsapp?
                        fieldset.fieldset.col.l4.col.m6.col.s6
                          input(type="radio", checked, id="whatSi", name="iswtp", value="true")
                          label(for="whatSi")
                            | Si
                        fieldset.fieldset.col.l4.col.m6.col.s6
                          input(type="radio", id="whatNo", name="iswtp", value="false")
                          label(for="whatNo")
                            | No

                      else

                        fieldset.fieldset__Header.col.l12.col.m12.col.s12
                          label
                            | ¿Recibís mensajes de Whatsapp?
                        fieldset.fieldset.col.l4.col.m6.col.s6
                          input(type="radio", id="whatSi", name="iswtp", value="true")
                          label(for="whatSi")
                            | Si
                        fieldset.fieldset.col.l4.col.m6.col.s6
                          input(type="radio", checked, id="whatNo", name="iswtp", value="false")
                          label(for="whatNo")
                            | No



                      fieldset.fieldset__Header.col.l12.col.m12.col.s12
                        label
                          | Escribí información adicional sobre vos, tus clases, tus materias o detalles sobre el precio, etc...
                      fieldset.fieldset.col.l12.col.col.m12.s12
                        textarea.materialize-textarea(name="isdetails", cols="30", rows="10", placeholder="Cuentanos los detalles")
                          | #{user.contacto[0].details}

                      fieldset.fieldset.col.l12.col.s12
                        input.btn.right(type="submit" value="Actualizar")

             else

                section.teacher__Register--Steps--Container.col.l12.col.m12.col.s12
                 article.show__User--Exist
                  h3.show
                  | Usted ya completo el paso 4
    
    include inc/footer